#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: initial;
  .h2,
  h2 {
    font-size: 23px;
    font-weight: bold;
    text-align: start;
  }

  .h3,
  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: start;
  }

  .h4,
  h4 {
    font-size: 14px;
    font-weight: normal;
    text-align: start;
  }

  .h5,
  h5 {
    font-size: 12px;
    font-weight: lighter;
    text-align: start;
  }

  .h6,
  h6 {
    font-size: 10px;
    font-weight: lighter;
    text-align: start;
  }
}
