$primary: #1e025b;
$black: #000;
$dark-gray: #000;
$white: #fff;
$light-red: #d95b43;
$light-gray: #f2f2f2;
$border-gray: #a1a1a1;
$cyan: #17a2b8;
$light-cyan: rgb(207, 226, 255);
$cyan-border: rgb(158, 197, 254);
